@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
  min-height: 100vh;
  font-family: "lato", sans-serif;
  overflow-X: hidden;
}

.view-all-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.collection{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
// SINGLE SNACK
.product-image img{
  width: auto;
  height: auto;
  max-height: 300px;
  max-width: 300px;
}

// SPAN HEADER
span, a, a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  }
  .section-head {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  }
  .section-head h4 {
  position: relative;
  padding:0;
  color:#f91942;
  line-height: 1;
  letter-spacing:0.3px;
  font-size: 34px;
  font-weight: 700;  
  text-align:center;
  text-transform:none;
  margin-bottom:30px;
  }
  .section-head h4:before {
  content: '';
  width: 60px;
  height: 3px;
  background: #f91942;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right:0;  
  margin:0 auto;
  }
  .section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color:#2f2f2f
  }


  .outer-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 3rem;
    max-width: 93.5rem;
    background: url(/images/backgroundmesh.png);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }