@import '../../styles/styles.scss';
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
/*
Default Style
============================*/
// MEDIA QUERY MANAGER
/*

0 - 600px:          Phone
600px - 900px       Table Portrait
900px - 1200px      Table Landscape
[1200px - 1800px]   Desktop Normal Styles
1800px +            Big Desktop

1em = 16px

ORDER: Base + Typography > Generar Layout + Grid > Page Layout > Components
*/

body{
    background: url(/images/backgroundmesh.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }
/*
Default Btn Area Style
======================================================*/
.default-btn {
	font-size: 15px;
	font-weight: 600;
    width: 50 vw;
	color: white;
	padding: 20px 30px;
	line-height: 1;
	transition: $transition;
	z-index: 1;
	text-transform: capitalize;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;

	&::before {
		content: "";
		position: absolute;
		top: -20px;
		left: -40px;
		width: 10px;
		height: 100px;
		background-color: #ffffff;
		opacity: 0.5;
		transition: $transition;
		transform: rotate(45deg);
	}
	&::after {
		content: "";
		position: absolute;
		top: -20px;
		right: -40px;
		width: 10px;
		height: 100px;
		background-color: #ffffff;
		opacity: 0.5;
		transition: $transition;
		transform: rotate(45deg);
	}
	&.active {
		background-color: $white-color;
		color: $main-color;
		&:hover {
			color: $white-color;
			background-color: $main-color;
		}
	}
	&:hover {
		color: $white-color;
		transition: $transition;
		&::before {
			left: 200px;
		}
		&::after {
			right: 200px;
		}
	}
}

.center-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
// ABOUT ME
.about-img {
    margin-bottom: 30px;
    text-align: center;
}
.about-img img{
    border-radius: 50%;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  }

// PHONE
@media only screen and (max-width: 767px) {
    .main-banner-area {
        // background-image: linear-gradient(#00095e, #000638);
        background: url(/images/grabient.png);
        padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
        z-index: 1;
    }
    .banner-main-img{
        padding-top: -150px;
        margin-top: -120px;
    }
    .contact-btn-section{   
        display: flex; 
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        margin-top: -200px;
    }

}

// FOR TABLETS
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area{
        display: none;
    }
    p {
        font-size: 14px;
    }
    h3 {
        font-size: 20px;
    }
    .main-banner-area {
        display: flex;
        flex-direction: row;
        .banner-text {
            text-align: center;
            max-width: unset;
            h1 {
                font-size: 40px;
                margin-bottom: 25px;
            }
            p {
                font-size: 15px;
                margin-bottom: 30px;
            }
        }
        .container-fluid {
            max-width: 720px;
            display: flex;
            flex-direction: row;
        }
        &.main-banner-area-one {
            .banner-text {
                max-width: unset;
                margin-left: unset;
                top: 0;
            }
        }
    }
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {  
    .about-area{
        display: none;
    }
    .main-banner-area {
        .container-fluid {
            max-width: 900px;
        }
    }
    .main-banner-area {
        &.main-banner-area-one {
            .banner-img {
                top: -115px;
                img:nth-child(2) {
                    top: -15px;
                    width: 300px;
                }
                img:nth-child(3) {
                    top: 0;
                    left: 45px;
                    width: 200px;
                }
                img:nth-child(4) {
                    top: 80px;
                    right: 0;
                    max-width: 150px;
                }
            }
        }
    }
    .main-banner-area {
        .banner-text {
            h1 {
                font-size: 40px;
                margin-bottom: 30px;
            }
            p {
                font-size: 15px;
            }
        }
    }

    .about-content {
        h2 {
            font-size: 30px;
        }
    }
    .choose-title {
        h2 {
            font-size: 30px;
        }
    }
    .business-content {
        h2 {
            font-size: 30px;
            margin-bottom: 40px;
        }
    }
    .section-title {
        h2 {
            font-size: 35px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .about-area{
        display: none;
    }
    .main-banner-area {
        background-image: linear-gradient(#00095e, #000638);
        background: url(/images/grabient.png);
        position: relative;
        z-index: 1;
    }
    .main-banner-area {
        &.main-banner-area-one {
            padding-top: 250px;
            padding-bottom: 350px;
            padding-right: -100px;
            .banner-text {
                top: 40px;
            }
            .banner-img  {
                img {
                    &:nth-child(1) {
                        bottom: -445px;
                    }
                    &:nth-child(2) {
                        bottom: -850px;
                        left: 130px;
                    }
                    &:nth-child(3) {
                        left: 210px;
                    }
                    &:nth-child(4) {
                        right: 0px;
                    }
                }
            }
        }
    }
}
.main-banner-area {
    background: url(/images/grabient.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	position: relative;
	z-index: 1;
	.banner-text {
		position: relative;
		max-width: 640px;
		margin-left: auto;

		h1 {
			color: $white-color;
			font-size: 50px;
			margin-bottom: 32px;
		}
		p {
			color: $white-color;
			font-size: 16px;
			margin-bottom: 40px;
		}
	}
} 
