.skewed-bg2{
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  // background: url(/images/backgroundmesh.png);
  height:450px;
  width: 100vw;
  transform:skew(0deg, -6deg);
  margin-top:-50px;
  // padding-right: 20px;
  bottom: 100px;
}
.skewed-text{
  transform:skew(0deg, 6deg);
  padding-top: 5rem;
  display: flex;
}


// ABOUT ME
.about-img {
  margin-bottom: 30px;
  text-align: center;
  margin-right: 5rem;
  margin-left: 5rem;
}
.about-img img{
  margin: auto;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
}

// FOR LAPTOPS
@media only screen and (max-width : 992px) {
  .skewed-bg2{
    height: 500px;
    width: 100vw;
  }
}

@media only screen and (min-width : 993) {
  .skewed-bg2{
    height: 600px;
    width: 100vw;
  }
}
