@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
  min-height: 100vh;
  font-family: "lato", sans-serif;
  overflow-X: hidden;
}

.view-all-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.collection{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
// SINGLE SNACK
.product-image img{
  width: auto;
  height: auto;
  max-height: 300px;
  max-width: 300px;
}
.outer-container{
  margin-top: 50px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(255, 75, 31, .7), rgba(255,144,104, 0.7));
  transform: skewY(-5deg);  
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 80px;
  min-height: 50vh;
    & > * {
    transform: skewY(5deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
}


.box:not(:last-child) {
  margin-right: 2rem;
}
// SPAN HEADER
span, a, a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  }
  .section-head {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  }
  .section-head h4 {
  position: relative;
  padding:0;
  color:#f91942;
  line-height: 1;
  letter-spacing:0.3px;
  font-size: 34px;
  font-weight: 700;  
  text-align:center;
  text-transform:none;
  margin-bottom:30px;
  }
  .section-head h4:before {
  content: '';
  width: 60px;
  height: 3px;
  background: #f91942;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right:0;  
  margin:0 auto;
  }
  .section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color:#2f2f2f
  }